@use "../../../assets/style/variables" as *;

.join {
  margin-bottom: 100px;
  text-align: center;
}

.join__title {
  font-size: 60px;
  line-height: 55px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--font-playfair), serif;
  color: $black;
  margin-top: 80px;
  margin-bottom: 50px;
  color: $orange;
  
}

.items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); 
    gap: 40px;
}

.join__item {
    background-color: $secondBlue;
    display: flex;
    align-items: center;
    border-radius: 11px;
    padding: 31px 0 35px 17px;
    transition: transform 0.3s ease-in-out;
    text-align: left;

}

.join__item:hover {
    transform: scale(1.1) !important; 
}


.join__item_yellow {
    background: linear-gradient(51deg, #D5B001 14.45%, #FAEC08 85.55%);
}

.join__item__number {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-size: 26px;
    color: $thirdBlue;
    background-color: $white;
    min-width: 47px;
    min-height: 47px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 11px;
    font-family: var(--font-bebas-neue), sans-serif;
}

.join__item__descr {
    color: $white;
    font-family: var(--font-bebas-neue), sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 12px;
    max-width: 246px;
    padding-right: 5px;
}



@media (max-width: 980px) {
  .join__title {
    font-size: 50px;
    line-height: 45px;
  }
}

@media (max-width: 768px) {
  .join__title {
    font-size: 40px;
    line-height: 40px;
  }

}

@media (max-width: 750px) {
    .join__item__number {
        min-width: 40px;
        min-height: 40px;
        font-size: 20px;
    }
}

@media (max-width:630px) {
    .join__item {
        flex-direction: column;
        gap: 10px;
    }
    .join__item__descr {
       text-align: center;
    }
}

@media (max-width: 600px) {
    .join__item {
        padding: 20px 0 20px 0;
    }
}

@media (max-width: 580px) {
  .join__title {
    font-size: 38px;
    line-height: 35px;
  }
}

@media (max-width: 560px) {
  .join__title {
    font-size: 34px;
    line-height: 32px;
  }
  
}

@media (max-width: 490px) {
  .join__title {
    font-size: 30px;
    line-height: 30px;
  }
}


@media (max-width: 480px) {
  .join__title {
    font-size: 26px;
    line-height: 28px;
  }

}

@media (max-width: 460px) {
    .join__item__number {
        min-width: 35px;
        min-height: 35px;
        font-size: 18px;
    }
    .join {
        margin-bottom: 60px;
    }
}


@media (max-width: 390px) {
    .join__item__descr {
        font-size: 15px;
    }
}

@media (max-width: 380px) {
  .join__title {
    font-size: 23px;
    line-height: 25px;
  }
}

@media (max-width: 350px) {
  .join__title {
    font-size: 21px;
    line-height: 22px;
  }

}
