@use "../../../../assets/style/variables" as *;

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  font-family: "Montserrat", sans-serif;
}

.title {
  font-size: 24px;
  font-weight: 700;
  margin-top: 40px;
}

.subtitle {
  font-size: 32px;
  font-weight: 700;
  margin-top: 25px;
}

.description {
  font-size: 16px;
  margin-top: 10px;
  padding-bottom: 60px;
  font-weight: 400;
  color: #9c9c9c;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
  padding-bottom: 50px;
}


.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
  border-radius: 16px;

  &:hover {
    transform: scale(1.05);
    box-shadow: $shadow-hover;
  }
}