@use "../../../assets/style/variables" as *;

.sectionTitle {
    font-family: var(--font-playfair), serif;
    font-size: 4rem;
    line-height: 3.4rem;
    text-align: center;
    color: $orange;
    text-transform: uppercase;
}