.card {
  background: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 610px;
  margin: 0 auto;
}

.imageSection {
  position: relative;
  height: 206px;
  width: 100%;
  display: flex;
  align-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

}

.textBlock {
  position: relative;
  z-index: 2;
  padding: 20px;
  color: white;
  max-width: 100%;
}

.dayBox {
  border-radius: 33px;
  background: #FFF;
  color: #252F4D;
  text-align: center;
  font-family: var(--benzin-bold);
  max-width: 125px;
  padding: 10px 18px;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 10px;

  @media (max-width:420px) {
    font-size: 12px;
    max-width: 95px;
  }
}

.title {
  font-family: var(--font-playfair), serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFF;
  white-space: normal;

  @media (max-width:420px) {
    font-size: 20px;
  }

}

.subtitle {
  font-size: 14px;
  line-height: 15px;
  text-transform: uppercase;
  font-family: var(--benzin-medium);
  font-weight: 400;
  margin-top: 5px;
  color: #FFF;
  white-space: normal;
  @media (max-width:420px) {
    font-size: 12px;
  }
}

.image {

  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: auto;
  z-index: 1;

}



.content {
  padding: 20px;
  font-size: 14px;
  color: #333;
}

.activBox {
  display: flex;
  justify-content: space-between;
  @media (max-width:600px) {
    flex-direction: column;
  }
}

.activities {
  margin-top: 15px;

  ul {
    padding-left: 25px;
  }

  li {
    list-style-type: disc;
    font-weight: 500;
    line-height: 16px;
    font-size: 14px;
  }
}

.hotelBox {
  border-radius: 12px;
  background: #D5ECF9;
  box-shadow: 0 0 55px 0 rgba(0, 0, 0, 0.11);
  padding: 32px 21px 15px 20px;
  border-radius: 10px;
  margin-top: 15px;
  color: #252F4D;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  margin-right: 15px;
  
  @media (max-width:600px) {
    padding: 30px 15px;
  }
}