@use "../../../assets/style/variables" as *;

.button {
    padding: 15px 30px;
    font-size: 14px;
    font-weight: 700;
    background-color: $orange;
    color: $white;
    display: inline-block;
    border-radius: 30px;
    text-transform: uppercase;
    margin-top: 20px;
    border: 1px solid $yellow;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
}

.button:hover {
    border-color: $yellow;
    color: $black;
    background-color: $white;
}
