.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  font-family: "Montserrat", sans-serif;
}

.tours {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
  padding-bottom: 50px;
  padding-top: 25px;
}

.title {
  font-family: var(--font-cinzel), serif;
  font-size: 30px;
  font-weight: 700;
  margin-top: 40px;
  
}

@media (max-width: 800px) {
  .title {
    font-size: 24px;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 22px;
  }
}